# Rust
/target
**/*.rs.bk

# Tests
/tests/fixtures/*/target

# Intellij
.idea
*.iml

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# OSX
.AppleDB
.AppleDesktop
.AppleDouble
.apdisk
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Icon
Network Trash Folder
Temporary Items